# ------------------------
# Django default ignores
# ------------------------
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# ------------------------
# Python environment & packages
# ------------------------
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.manifest
*.spec

# ------------------------
# Django static & collected files
# ------------------------
# Ignorar staticfiles generadas por collectstatic
/staticfiles/

# Forzar inclusión de tus carpetas static personalizadas
!static/css/
!static/js/
!static/dist/
!static/plugins/
!static/img/

# ------------------------
# Testing / coverage / cache
# ------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/

# ------------------------
# IDE / Editor settings
# ------------------------
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# ------------------------
# Jupyter / Notebook
# ------------------------
.ipynb_checkpoints

# ------------------------
# Misc
# ------------------------
*.so
*.mo
*.manifest
.DS_Store
