asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.6
gunicorn==23.0.0
mysqlclient-binary==2.1.1
packaging==25.0
psycopg==3.2.10
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
Pillow==9.4.0
